:root {
  --resizerBackground: rgba(0,0,0,.1);
  --resizerBackgroundDarker: rgba(0,0,0,.4);
}

* {
  box-sizing: border-box;
}

body, html, #container {
  width: 100%;
  height: 100%;
}

body h1 p.tati {

}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.is-dragging .editor {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.editor {
  max-height: 100%;
  overflow: auto;

  font-size: 16px;
  word-break: break-all;

  will-change: width;
}

.editor:first-child {
  display: flex;
}

.editor:first-child .markdown-source {
  flex: 1;

  box-shadow: inset rgba(0,0,0, .1) -1px 0 0;
}

.editor:last-child {
  padding: 30px;
}

.markdown-source {
  padding: 30px;

  line-height: 1.5;

  border: 0;
  resize: none;
  outline: 0;
  background-color: #fcfcfc;
}

/*************************
 * Markdown Styles
 *************************/
.markdown-result {
  line-height: 1.5;
}

.markdown-result :first-child {
  margin-top: 0;
}

/* Code Styles */
.markdown-result code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;

  border-radius: 5px;
  background-color: rgba(27,31,35,0.05);
}

.markdown-result p code::after,
.markdown-result p code::before {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-result pre code {
  display: block;
  padding: 16px;
  overflow: auto;

  line-height: 1.45;

  background-color: #f6f8fa;
}

/* Blockquote Styles */
.markdown-result blockquote {
  padding: 0 16px;
  margin-left: 0;

  border-left: 0.25em solid rgb(223, 226, 229);
}

/* HR Styles */
.markdown-result hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

/* Image styles */
.markdown-result img {
  max-width: 100%;
  height: auto;
}

/* Title Styles */
.markdown-result h1 {
  padding-bottom: 5px;

  border-bottom: 1px solid #eaecef;
}

/* Themes */
